@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #b8d8c000;
  background-color: #c8d275;
}

nav {
  position: absolute;
  z-index: 5;
  width: 100vw;
}
.background {
  width: 100vw;
  height: 100vh;
  height: auto;
  position: relative;
  margin-top: -8vh;


}

.banner {
  text-align: center;


}



.banner h2 {
  font-family: 'Square Peg', cursive;
  z-index: 2;
  font-size: 10vw;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  color: #fff;

}

.banner p div {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30%;
  z-index: 2;
}

.banner div {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20%;
  z-index: 5;
}

.category {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 50vw;
  margin-top: 10px;
  margin-top: -100px;
  height: 5vh;
}

.category button {
  height: 5vh;
  width: 11vw;
  font-size: 20px;
  font-family: monospace;
  border-radius: 40px;
  border-style: hidden;
  background-color: #95423a;

}

.category a {
  color: aliceblue;
}

.veggies,
.protein,
.grains {
  text-align: center;
  background-color: #c8d275;
  font-size: 3em;
  font-family: monospace;
  padding: 2em;
  margin: -100px 0;
  color: white;
  border-top: 2px solid rgb(255, 255, 255);
}



.search form {
  background-color: white;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 40px;
  margin-left:25vw;
  // margin-top: -70px;
  width:50vw;
  height:5vh;
  position: relative;
}

.search form button {
  text-indent: -999px;
  overflow: hidden;
  width: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
 
}
.search input{
  width:80%;
  border: none;
  margin: 0;
  padding: 2px;
  font-size: 30px;
  color: inherit;
  border: none;
  border-radius: inherit;
  background-color: transparent;
  position: inherit;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Square Peg', cursive;
  font-size: 40px;
  color: #000;
  background-color: #2f47326f;
  margin-top: -35px;
}

.nav button {
  background-color: rgb(185, 135, 68);

}

.nav p {
  padding: 0 100px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

.containerAllRecipe {
  margin-top: 5vh;
}

.recipeOfTheDay div {
  display: flex;
  padding: 0 5em;
  background-color: #0bf;
}

.recipeOfTheDay img {
  height: 350px;
  width: auto;
}
.contain{
  margin-top: -5vh;
}
.container {
position: relative;
  background:#c8d275;
  border-radius: 5px;
  width:500px;
  border: 20px green;
  padding: 50px;
  margin: auto;
  text-align: center;


}



// .container body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background: linear-gradient(45deg, greenyellow, dodgerblue);
//   font-family: 'Square Peg', cursive;
//   text-align:center
// }

.container h1 {
  font-size: 4em;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  padding-left: 10px;
  font-family: 'Square Peg', cursive;


}

.container .inputbox {
  position: relative;
  width: 250px;
  height: -20px;
  margin-bottom: 50px;
 
  padding: 10px;
  margin-left:0px;
  margin-right: 20%;




  
}

.container .inputbox input {
  position: absolute;
  top: 0;
  left: 20%;
  width: 250px;
  height: 30px;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: white;
  margin-left: 150px;
  margin-bottom: 40px;
 
  
 
}

.container .inputbox label {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 2em;
  transition: 0.6s;
  font-family: sans-serif;
  font-weight: bold;
  margin: -30%;
  margin-top: -40px;
  margin-bottom: 45px;
  // margin-right: 100%;
  margin-left:30px;
  padding: -5px;

  
  font-family: 'Square Peg', cursive;


}

.radioinputbox {
  display: flex;
  flex-direction: row;
  float: left;
  padding-bottom: 8px;
  margin-left: 70px;
  margin-top:-20px;

}

.radioinputbox label {
 margin-top: 8px;
 font-size: 1.3em;
}

.container .inputboxD input {
  position: relative;
  width: 250px;
  height: -20px;
  margin-bottom: 10px;
  // margin:40px;
  padding: 20px;
  margin-left:95px;
  border: 2px solid #000;
  border-radius: 10px;

}

.container .inputboxD label {
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 2.5em;
  font-weight: bold;
  transition: 0.6s;
  font-family: 'Square Peg', cursive;
  margin: -30%;
  margin-top: -33px;
  margin-bottom: 40px;

}

.container .inputboxD {
  position: relative;
  width: 250px;
  height: -20px;
  margin-bottom: 50px;
  // margin:40px;
  padding: 10px;
  margin-left:70px;
  border-radius: 5px;
}



//one recipe

.oneRecipe{
  padding-top: 150px;
  font-size: 25px;
  text-align: center;
}
.oneRecipe h3{
  font-size: 35px;
  font-family: 'Dancing Script', cursive;
}

fieldset {

border: 3px solid black;
background-color: rgb(253, 221, 184);
width: 600px;
}

#add {
padding-top:30%;

}


@media screen and (max-height: 450px) {
  
}
@media (max-width: 575.98px) {
  .nav{
    font-size: 20px;
    margin-top:-27px;
  }
  .nav p{
    padding: 0 74px;
  }
  
  
  
}
@media (max-width: 767.98px) {
  .search form {
    height:3vh;
  }
  .search input{
    font-size:20px;
  }
  .category button{
    height:3vh;
    width:14vw;
    font-size: 15px;;
  }
  .nav{
    font-size: 20px;
    margin-top:-27px;
  }
  .nav p{
    padding: 0 0px;
  }
  .banner p div{
    margin-top:-27%;
  }
  
}

@media (max-width: 991.98px) {
  .search form {
    height:3vh;
  }
  .search input{
    font-size:20px;
  }
  .category button{
    height:3vh;
    width:14vw;
    font-size: 15px;;
  }
  .nav{
    font-size: 30px;
    margin-top:-27px;
  }
  .nav p{
    padding: 0 74px;
  }
  .banner p div{
    margin-top:-27%;
  }
  
}

@media (max-width: 1199.98px) {
  .search form {
    height:4vh;
  }
  .category button{
    height:4vh;
    width:14vw;
  }
  .nav{
    font-size: 35px;
  }
  // .banner p div{
  //   margin-top:-23%;
  // }
}


@media screen and (max-width :1600px ) {
  main{
    width: 100%;
    height:100%;
    overflow-y: scroll;
    padding: 10% 5%;
  }

  banner {
    margin-top:300px;
  }

<<<<<<< HEAD
  // .search form {
  //   margin-top: 100px;
  // }

  
||||||| 31d9eb3
  .search form {
    margin-top: 100px;
  }

  
=======
  .search form {
    margin-top: 100px;
  }
>>>>>>> 9ea49f7bafabcebf92a5ee932cb1208881846270
}

 @media screen and (max-width:390px) {
  .nav{
    width: 100wh;
  }
  .nav p{
    display: inline-flex;
    padding:2px;
  }
 }







// SPLIDERS
.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;

}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade>.splide__list {
  display: block;
}

.splide__track--fade>.splide__list>.splide__slide {
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb>.splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: transparent;
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}

@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}

@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}

@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }

  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
    border-color: #0bf;
  }
}

.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav>.splide__list>.splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

//AllRecipes page
.allRecipes div {
  background-color: #c8d275;
  text-align: center;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: black;
  border-radius: 10px;
  padding-bottom: 50px;
  padding-right: 350px;
  padding-left: 350px;
  font-size: 1.5em;
}

.recipesH1 {
  font-family: 'Square Peg', cursive;
  font-size: 4em;
  text-align: center;
  color: rgb(247, 241, 241);
  padding-top: 110px;
}

.name {
  
  font-family: 'Square Peg', cursive;
  font-size: 3em;
  font-weight: bold;
  color: rgb(237, 235, 235);

}

.allRecipeImg {
  max-height: 400px;
  max-width: auto;
  border-radius: 5%;
}

.ingredients {
  font-weight: bold;
}

//Fancy button DO NOT TAMPER WITH
//button two
//////////////////////////
.btn-2 {
  letter-spacing: 0;
  border-radius: 10px;
  background-color: rgb(103, 175, 103);
color: rgb(21, 79, 21);
border-color: green;
}

.btn-2:hover,
.btn-2:active {
letter-spacing: 3px;
background-color: rgb(21, 79, 21);
border-radius: 10px;
color: rgb(103, 175, 103);
}

.btn-2:after,
.btn-2:before {
backface-visibility: hidden;
border: 1px solid rgba(rgb(89, 178, 114), 0);
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;

}

.btn-2:hover:after,
.btn-2:hover:before {
backface-visibility: hidden;
border-color: rgb(28, 112, 52);
transition: width 350ms ease-in-out;
width: 70%;
}

.btn-2:hover:before {
bottom: auto;
top: 0;
width: 70%;

}

/////////////////////////////
//END OF FANCY BUTTON
//END OF ALLRECIPES PAGE